.invoice {
  border-collapse: collapse;
  border-radius: var(--rounded);
  width: 100%;
  overflow: hidden;
  font-size: 0.9em;
}

.invoice thead,
.invoice tbody {
  background-color: var(--magnolia);
  position: relative;
}

.invoice thead::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 1.5em;
  right: 1.5em;
  height: 1px;
  background-color: var(--light-gray);
}

.invoice thead a {
  color: var(--cool-gray);
  font-weight: 400;
  transition: 0.3s;
}

.invoice thead a:hover {
  color: var(--purplish-blue);
}

.invoice tbody tr td:first-of-type,
.invoice tfoot tr td:first-of-type {
  color: var(--cool-gray);
}

.invoice th {
  padding: 1.5em;
}

.invoice th:last-of-type,
.invoice td:last-child {
  text-align: right;
}

.invoice :is(tbody, tfoot) td {
  padding-left: 1.5em;
  padding-right: 1.5em;
}

.invoice :is(tbody tr:not(:last-child), tfoot) td {
  padding-top: 1em;
}

.invoice tbody tr:first-of-type td {
  padding-top: 1.5em;
}

.invoice tbody tr:last-of-type td {
  padding-top: 1em;
  padding-bottom: 1.5em;
}

.invoice tbody tr:last-of-type td:first-of-type {
  border-bottom-left-radius: var(--rounded);
}

.invoice tbody tr:last-of-type td:last-of-type {
  border-bottom-right-radius: var(--rounded);
}

.invoice-total {
  color: var(--purplish-blue);
  font-weight: 700;
  font-size: 1.25em;
}
